services:
  miniapp:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - SERVICE_FQDN_MINIAPP_80
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://127.0.0.1:80"]
      interval: 30s
      timeout: 5s
      retries: 3

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SERVICE_FQDN_API_3002
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:3002/api/cities"]
      interval: 30s
      timeout: 5s
      retries: 3

  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - BOT_TOKEN=${BOT_TOKEN}
      - MINI_APP_URL=https://iftar.adntgv.com
      - API_URL=http://api:3002

  og-api:
    build:
      context: ./og-api
      dockerfile: Dockerfile
    environment:
      - API_URL=http://api:3002
      - BOT_USERNAME=iftar_coordinator_bot
